body {
  padding: 0;
  margin: 0;
  background-size: 50% 50%;
  /* Black background*/
  background: #111111 url('') no-repeat;
  /*
    Purple background
    background: rgb(45, 28, 73) url('') no-repeat;
    */
  font-family: "Comic Sans MS", serif;
}

.intro {
		font-color: black;
		text-align: center;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #111;
}

::-webkit-scrollbar-thumb {
  background-color: #9962ff50;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #111;
}